body {
    background-color: rgba(237, 247, 69, 0.2);
}

header {
    color: black;
    background-color: #2d2d31;
    opacity: 0.3;
    background-image: repeating-linear-gradient(45deg, #edf745 25%, transparent 25%, transparent 75%, #edf745 75%, #edf745),
        repeating-linear-gradient(45deg, #edf745 25%, #2d2d31 25%, #2d2d31 75%, #edf745 75%, #edf745);
    background-position: 0 0,
        10px 10px;
    background-size: 20px 20px;
    padding: 30px;
    margin: 0 0 20px 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav {
    text-align: end;
    padding: 20px;
}

button {
    color: #888888;
    background-color: yellow;
    box-shadow: 6px 4px 10px 7px #888888;
    border: 2px solid;
    border-color: #888888;
    border-radius: 10%;

}

form {
    color: #888888;
    display: flex;
    direction: row;
    justify-content: space-between;
    margin: 40px;
    width: fit-content;
    padding: 20px;
    background-color: rgba(237, 247, 69, 0.4);
    position: relative;
}


input {
    display: block;
    margin: 5px;
    text-align: top;
}



#messagesubmit {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
}

form.validate input:invalid,
form.validate textarea:invalid {
    border: 1px solid red;
}